[Unit]
Description=Ampvel Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/bin/sh /home/pi/ampvel/ampvel-up.sh
ExecStop=/bin/sh /home/pi/ampvel/ampvel-down.sh

[Install]
WantedBy=default.target


